@font-face {
  font-family: 'Pretendard';
  src: local('Pretendard'),
  url('https://image.payple.kr/download/fonts/Pretendard-Regular.subset.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-style: normal;
  src: local('Pretendard'),
  url('https://image.payple.kr/download/fonts/Pretendard-SemiBold.subset.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  src: local('Pretendard'),
  url('https://image.payple.kr/download/fonts/Pretendard-Bold.subset.woff2') format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 800;
  font-style: normal;
  src: local('Pretendard'),
  url('https://image.payple.kr/download/fonts/Pretendard-Black.subset.woff2') format('woff2');
}
html,body {
  font-family: 'Pretendard', sans-serif;
}
