@mixin ellipsis($line: 1) {
  overflow: hidden;
  @if $line==1 {
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  @else {
    display: -webkit-box;
    white-space: normal;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
  }
}


@mixin res-sm {
  @media screen and (min-width: 0px) and (max-width: $res_sm) {
    @content;
  }
}
@mixin res-md {
  @media screen and (min-width: 0px) and (max-width:$res_md ) {
    @content;
  }
}
@mixin res-lg {
  @media screen and (min-width: 0px) and (max-width:$res_lg ) {
    @content;
  }
}
@mixin res-xl {
  @media screen and (min-width: 0px) and (max-width:$res_xl ) {
    @content;
  }
}

@mixin background-img ($width: 100px, $height: 100px, $category: 'common', $img: 'temp.svg'){
  $url : "../img/";
  width: $width;
  height: $height;
  background-image: url($url + $category + "/" + $img);
  background-size: cover;
}

