.custom-select-box {
  border-radius: 0.6rem;
  padding: 1.2rem 1.6rem;
  height: 4.6rem;
  border: 1px solid #E6E6E6;
  width: 100%;
  font-size: 1.5rem;
  background-image: url('../img/icons/ico-arrow-bottom.png');
  background-repeat: no-repeat;
  background-position: calc(100% - 1.5rem) 50%;
  background-size: 1.5rem 0.9rem;

  &:invalid {
    color: #A4A4A4;
  }

  option {
    color: #383838;
  }
}
.custom-checkbox-input:checked {
  + .custom-checkbox {
    background-position: 0 -4rem;

    &.fill {
      background-position: 0 -2rem;
    }
  }
}
.custom-checkbox {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  display: inline-block;
  background-image: url('../img/icons/ico-custom-checkbox.png');
  background-repeat: no-repeat;
  background-position: 0 -6rem;
  background-size: 2rem;

  &.fill {
    background-position: 0 0;
  }
}
.custom-input {
  display: inline-block;
  width: 100%;

  input {
    width: 100%;
    border-radius: 0.6rem;
    padding: 1.2rem 1.6rem;
    height: 4.6rem;
    border: 1px solid #E6E6E6;
    font-size: 1.5rem;

    &:disabled {
      border: none;
      background-color: #F5F5F5;

    }

    &::placeholder {
      color: #D2D2D2;
    }
  }

}
