.payment-window-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);

}



.payment-window {
  position: relative;
  z-index: 100;
  width: 37.5rem;
  background-color: #fff;
  color: #383838;
  height: 80rem;
  overflow-y: auto;

  .payment-header {
    padding: 2.4rem;

    .title-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 3rem;

      .title {
        font-size: 2rem;
        font-weight: 600;
      }

      button {
        cursor: pointer;
      }

    }

    .partner-logo-box {
      display: flex;
      justify-content: center;
      align-items: center;

      .partner-logo {
        width: 150px;
        height: auto;
      }
    }
  }

  main {
    padding: 2.4rem;

    .title {
      font-size: 1.5rem;
      font-weight: 700;
      padding-bottom: 0.8rem;
      border-bottom: 0.1rem solid rgba(56, 56, 56, 0.5);
    }

    .info-section {
      border-bottom: 1.2rem solid #F5F5F5;
      margin-bottom: 2.5rem;

      .empty-bg {
        display: none;
        flex: 0 0 8rem;
        margin-right: 1.5rem;
        height: 7.5rem;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("../img/temp/bg-empty.png");
      }

      .item-list {
        .item {
          min-height: 10.2rem;
          padding: 1.5rem 0;
          font-size: 1.3rem;
          border-bottom: 1px solid rgba(56, 56, 56, 0.15);

          &:nth-last-child(1) {
            border-bottom: none;
          }
        }

        .item-title {
          min-height: 3.9rem;
          word-break: break-all;
          @include ellipsis(2);
          line-height: 1.5;
          margin-bottom: 1.4rem;
        }

        .item-content {
          display: flex;
          color: rgba(56, 56, 56, 0.5);
          justify-content: space-between;
          align-items: center;

          .quantity {
            .number {
              margin-left: 0.3rem;
            }
          }

          .amount {
            font-size: 1.5rem;
            color: #383838;

            .number {
              font-weight: 700;
              font-size: 2.3rem;
              margin-right: 0.3rem;
              color: #7852EB;
            }
          }

        }

        &.items {
          .item {
            min-height: 10.2rem;
            padding: 1.5rem 0;
            font-size: 1.3rem;
            border-bottom: 1px solid rgba(56, 56, 56, 0.15);

            &:nth-last-child(1) {
              border-bottom: none;
            }
          }

          .item-title {
            min-height: 3.9rem;
            @include ellipsis(2);
            line-height: 1.5;
            margin-bottom: 1.4rem;
          }

          .item-content {
            .quantity {
              .number {
                margin-left: 0.3rem;
              }
            }

            .amount {
              font-size: 1.5rem;

              .number {
                font-size: 1.5rem;
                margin-right: 0.3rem;
                color: rgba(56, 56, 56, 0.5);
              }
            }
          }
        }

        &.image {
          .item {
            display: flex;
          }

          .empty-bg {
            display: block;
          }
        }
      }

      .total-list {
        font-size: 1.5rem;
        padding: 1.5rem 0;
        border-top: 1px solid rgba(56, 56, 56, 0.15);

        > li {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        .quantity {
          color: #383838;
          margin-bottom: 1.2rem;

          .number {
            margin-right: 0.3rem;
          }
        }

        .amount {
          font-weight: 600;

          .number {
            font-weight: 700;
            font-size: 2.3rem;
            margin-right: 0.3rem;
          }
        }
      }
    }

    .payment-method-section {
      .input-label {
        display: inline-block;
        width: 100%;
        margin-bottom: 1.5rem;

      }

      //추후 공통으로 뺄지도?
      .custom-checkbox-input:checked {
        + .custom-checkbox {
          background-position: 0 -4rem;

          &.fill {
            background-position: 0 -2rem;
          }
        }
      }

      .custom-checkbox {
        cursor: pointer;
        width: 2rem;
        height: 2rem;
        display: inline-block;
        background-image: url('../img/icons/ico-custom-checkbox.png');
        background-repeat: no-repeat;
        background-position: 0 -6rem;
        background-size: 2rem;

        &.fill {
          background-position: 0 0;
        }
      }

      .custom-input {
        display: inline-block;
        width: 100%;
        input {
          width: 100%;
          border-radius: 0.6rem;
          padding: 1.4rem 1.6rem;
          border: 1px solid #E6E6E6;
          font-size: 1.5rem;

          &:disabled {
            border: none;
            background-color: #F5F5F5;

          }
          &::placeholder{
            color: #D2D2D2;
          }
        }

      }

      .tab-pane {
        margin-top: 1.5rem;
        display: none;
        &.show{
          display: block;
        }
      }

      .custom-select-box {
        border-radius: 0.6rem;
        padding: 1.4rem 1.6rem;
        border: 1px solid #E6E6E6;
        width: 100%;
        font-size: 1.5rem;
        color: #383838;
        background-image: url('../img/icons/ico-arrow-bottom.png');
        background-repeat: no-repeat;
        background-position: calc(100% - 1.5rem) 50%;
        background-size: 1.5rem 0.9rem;
      }

      .btn-box {
        margin-top: 1.5rem;
        display: flex;
        gap: 1rem;

        .btn {
          cursor: pointer;
          border-radius: 0.4rem;
          border: 1px solid #E6E6E6;
          text-align: center;
          flex: 1 1 100%;
          font-size: 1.4rem;
          color: #A4A4A4;
          padding: 1.4rem;

          &.active {
            border: 1px solid #7852EB;
            color: #7852EB;
          }
        }
      }
      .tax-box{
        .custom-input{
          margin-bottom: 1.5rem;
          &:nth-last-child(1){
            border-bottom: 0;
          }
        }
      }
      .terms-list {
        margin: 2.4rem 0;

        .item {
          display: flex;
          align-items: center;
          margin-bottom: 1rem;

          .content {
            cursor: pointer;
            margin-left: 1rem;
            font-size: 1.3rem;
            color: #A4A4A4;

            &.all {
              color: #383838;
              font-size: 1.4rem;
            }
          }

          &:nth-last-child(1) {
            margin-bottom: 0;
          }
        }
      }

      .caption {
        font-size: 1.2rem;
        color: #A4A4A4;
      }
    }

    .payment-btn {
      margin-top: 3rem;
      width: 100%;
      font-size: 1.8rem;
      cursor: pointer;
      text-align: center;
      background-color: #7852EB;
      color: #fff;
      font-weight: 600;
      padding: 1.2rem 0;
      border-radius: 0.6rem;

      &:disabled {
        cursor: auto;
        background-color: #F5F5F5;
        color: #ACACAC;
      }
    }
  }

  footer {
    text-align: center;
    font-size: 1.5rem;
    padding: 2.5rem;
    color: #acacac;
  }

}





