.payment-window-background {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
}



.payment-window {
  max-height: 100%;
  position: relative;
  z-index: 100;
  width: 37.5rem;
  background-color: #fff;
  color: #383838;
  .payment-header {
    padding: 1.6rem 2.4rem;
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    height: 5.6rem;
    .title-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .title {
        font-size: 2rem;
        font-weight: 600;
      }

      button {
        cursor: pointer;
      }

    }
  }

  main {
    padding: 1rem 2.4rem;
    max-height: 71.4rem;
    height: 71.4rem;
    overflow-y: auto;

    @include res-sm{
      height: auto;
      max-height: 55.5rem;
    }
    &.complete-payment-layout{
      height: 71.4rem;
      position: relative;
      @include res-sm{
        height: calc(100dvh - 11.2rem);
        max-height: none;
      }
      .payment-complete-box{
        position: absolute;
        top: 50%;
        width: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        .img-payment{
          margin: 0 auto;
          width: 5.8rem;
          height: 5.8rem;
          &.complete{
            width: 6.3rem;
            height: 6.7rem;
          }
          &.cancellation{
            width: 7.1rem;
            height: 7.1rem;
          }
        }
        h6{
          margin-top: 2rem;
          color: #383838;
          font-size: 22px;
          font-weight: 600;
          text-align: center;
          &.purple{
            font-size: 2.5rem;
            color: #7852EB;
          }
          &.red{
            margin-top: 0.5rem;
            font-size: 2.2rem;
            color: #FF5B5B;
          }
        }
        .desc{
          margin-top: 1rem;
          color: #8D8D8D;
          text-align: center;
          font-size: 1.5rem;
        }
      }
    }
    .partner-logo-box {
      display: flex;
      padding-bottom: 1rem;
      justify-content: center;
      align-items: center;

      .partner-logo {
        width: 150px;
        height: auto;
      }
    }
    .title {
      font-size: 1.5rem;
      font-weight: 700;
      padding-bottom: 0.8rem;
      border-bottom: 0.1rem solid rgba(56, 56, 56, 0.5);
    }

    .info-section {
      border-bottom: 1.2rem solid #F5F5F5;
      margin: 0 -2.4rem 2.5rem;
      padding: 2.4rem;

      .empty-bg {
        display: none;
        flex: 0 0 8rem;
        margin-right: 1.5rem;
        height: 7.5rem;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("../img/temp/bg-empty.png");
      }

      .item-list {
        .item {
          min-height: 10.2rem;
          padding: 1.5rem 0;
          font-size: 1.3rem;
          border-bottom: 1px solid rgba(56, 56, 56, 0.15);

          &:nth-last-child(1) {
            border-bottom: none;
          }
        }

        .item-title {
          min-height: 3.9rem;
          word-break: break-all;
          @include ellipsis(2);
          line-height: 1.5;
          margin-bottom: 1.4rem;
        }

        .item-content {
          display: flex;
          color: rgba(56, 56, 56, 0.5);
          justify-content: space-between;
          align-items: center;

          .quantity {
            .number {
              margin-left: 0.3rem;
            }
          }

          .amount {
            font-size: 1.5rem;
            color: #383838;

            .number {
              font-weight: 700;
              font-size: 2.3rem;
              margin-right: 0.3rem;
              color: #7852EB;
            }
          }

        }

        &.items {
          .item {
            min-height: 10.2rem;
            padding: 1.5rem 0;
            font-size: 1.3rem;
            border-bottom: 1px solid rgba(56, 56, 56, 0.15);

            &:nth-last-child(1) {
              border-bottom: none;
            }
          }

          .item-title {
            min-height: 3.9rem;
            @include ellipsis(2);
            line-height: 1.5;
            margin-bottom: 1.4rem;
          }

          .item-content {
            .quantity {
              .number {
                margin-left: 0.3rem;
              }
            }

            .amount {
              font-size: 1.5rem;

              .number {
                font-size: 1.5rem;
                margin-right: 0.3rem;
                color: rgba(56, 56, 56, 0.5);
              }
            }
          }
        }

        &.image {
          .item {
            display: flex;
          }

          .empty-bg {
            display: block;
          }
        }
      }

      .total-list {
        font-size: 1.5rem;
        padding: 1.5rem 0;
        border-top: 1px solid rgba(56, 56, 56, 0.15);

        > li {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        .quantity {
          color: #383838;
          margin-bottom: 1.2rem;

          .number {
            margin-right: 0.3rem;
          }
        }

        .amount {
          font-weight: 600;

          .number {
            font-weight: 700;
            font-size: 2.3rem;
            margin-right: 0.3rem;
          }
        }
      }
    }

    .payment-method-section {
      .input-label {
        display: inline-block;
        width: 100%;
        margin-bottom: 1.5rem;

      }

      //추후 공통으로 뺄지도?
      .custom-checkbox-input:checked {
        + .custom-checkbox {
          background-position: 0 -4rem;

          &.fill {
            background-position: 0 -2rem;
          }
        }
      }

      .custom-checkbox {
        cursor: pointer;
        width: 2rem;
        height: 2rem;
        display: inline-block;
        background-image: url('../img/icons/ico-custom-checkbox.png');
        background-repeat: no-repeat;
        background-position: 0 -6rem;
        background-size: 2rem;

        &.fill {
          background-position: 0 0;
        }
      }

      .custom-input {
        display: inline-block;
        width: 100%;
        input {
          width: 100%;
          border-radius: 0.6rem;
          padding: 1.2rem 1.6rem;
          height: 4.6rem;
          border: 1px solid #E6E6E6;
          font-size: 1.5rem;

          &:disabled {
            border: none;
            background-color: #F5F5F5;

          }
          &::placeholder{
            color: #D2D2D2;
          }
        }

      }

      .tab-pane {
        margin-top: 1.5rem;
        display: none;
        &.show{
          display: block;
        }
      }

      .custom-select-box {
        border-radius: 0.6rem;
        padding: 1.2rem 1.6rem;
        height: 4.6rem;
        border: 1px solid #E6E6E6;
        width: 100%;
        font-size: 1.5rem;
        background-image: url('../img/icons/ico-arrow-bottom.png');
        background-repeat: no-repeat;
        background-position: calc(100% - 1.5rem) 50%;
        background-size: 1.5rem 0.9rem;
        &:invalid {
          color: #A4A4A4;
        }
        option{
          color: #383838;
        }
      }

      .payment-method-box {
        margin-top: 1.5rem;
        display: flex;
        gap: 1rem;

        .btn {
          height: 4.6rem;
          cursor: pointer;
          border-radius: 0.4rem;
          border: 1px solid #E6E6E6;
          text-align: center;
          flex: 1 1 100%;
          color: #A4A4A4;
          padding: 1.2rem;
          font-size: 1.5rem;

          &.active {
            border: 1px solid #7852EB;
            color: #7852EB;
          }
        }
      }
      .tax-box{
        display: none;
        .custom-input{
          margin-bottom: 1.5rem;
          &:nth-last-child(1){
            border-bottom: 0;
          }
        }
      }
      .terms-list {
        margin: 2.4rem 0;

        .item {
          display: flex;
          align-items: center;
          margin-bottom: 0.5rem;
          &.all{
            position: relative;
            .custom-checkbox{
              width: 100%;
              z-index: 10;
            }
            .content{
              color: #383838;
              position: absolute;
              text-decoration: none;
              font-size: 1.4rem;
              left: 2.2rem;
            }
          }
          .content {
            cursor: pointer;
            margin-left: 1rem;
            font-size: 1.3rem;
            color: #A4A4A4;
            text-decoration: underline;
          }

          &:nth-last-child(1) {
            margin-bottom: 0;
          }
        }
      }

      .caption {
        cursor: pointer;
        display: inline-block;
        font-size: 1.2rem;
        color: #A4A4A4;
      }
    }

    .copyright{
      text-align: center;
      font-size: 1.5rem;
      padding: 2.5rem 0 7.5rem;
      color: #acacac;
    }
  }

  footer {
    height: 5.6rem;
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    .payment-btn {
      width: 100%;
      height: 100%;
      font-size: 1.8rem;
      cursor: pointer;
      text-align: center;
      background-color: #7852EB;
      color: #fff;
      font-weight: 600;
      padding: 1.2rem 0;


      &:disabled {
        cursor: auto;
        background-color: #F5F5F5;
        color: #ACACAC;
      }
    }

  }

}





