.modal-background {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  &.show{
    visibility: visible;
  }
}
.modal-animation{
    visibility: hidden;
    transform: translateY(-2rem);
    transition: all 1s;
    &.show{
      transform: translateY(0);
      visibility: visible;
  }
}

.modal {
  background-color: #fff;
  width: 33rem;
  border-radius: 1.4rem;
  overflow: hidden;
  .modal-body {
    text-align: center;
    padding: 2.4rem;
    .icon{
      margin-bottom: 1.6rem;
    }
    .title {
      font-weight: 600;
      margin-bottom: 0.8rem;
      font-size: 1.8rem;
      color: #000;
    }
    .content {
      color: #8D8D8D;
      font-size: 1.5rem;
    }
    &.confirm{
      .content{
        color: #383838;
      }
    }

  }

  .modal-footer {
    font-size: 1.6rem;
    >div{
      display: flex;
        button{
          cursor: pointer;
          text-align: center;
          padding: 1.6rem 0;
          flex: 1 1 50%;
          &.continuer{
              background-color: #E9ECF5;
              color: #484848;
          }
          &.close{
            background-color: #FF5B5B;
            color: #fff;
          }
          &.check{
            color: #fff;
            background-color: #000000;
          }
        }
    }
  }
}
